.*

# Ignores
!.ignore

# Git
!.gitignore

# Nix - devenv (https://devenv.sh)
!.envrc

# Rust
## Cargo
!.cargo/
/target
## Rust fmt
!.rustfmt.toml

# Org
TODOs.org

# Emacs
!.dir-locals.el
# Helix
!.helix/
# VSCode
/.vscode

# Github
!.github/
